<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <label for="input-date">Select date: </label>
    <input type="date" name="inputDate" id="input-date">
    <script>
        const inputDate = document.getElementById("input-date");

        inputDate.addEventListener("change", () => {
            console.log(inputDate.value);
        });
    </script>
</body>
</html>